<ul class="list-group ">
    <li class="list-group-item"><a routerLink ="/nonveg" class="modal-body" 
        style="text-decoration: none;">Non Vegetarian</a></li>
    <li class="list-group-item"><a routerLink ="/snacks" class="modal-body"
        style="text-decoration: none;">Snacks</a></li>
    <li class="list-group-item"><a routerLink ="/dairy" class="modal-body"
        style="text-decoration: none;">Dairy</a></li>
    <li class="list-group-item" ><a routerLink ="/chineese"class="modal-body"
         style="text-decoration: none;">Chineese</a></li>
    <li class="list-group-item" ><a routerLink ="/pureveg"class="modal-body"
        style="text-decoration: none;">Pure veg</a></li>
</ul>
