<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h4>Please enter customername and password!!</h4>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                      <label for="exampleInputCustomername" class="form-label">Customername</label>
                      <input formControlName="customername" type="text" class="form-control" id="exampleInputCustomername" >
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input  formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
                  <a routerLink="/Customersignup">New customer? click to sign up !!</a>
            </div>
        </div>
    </div>

</div>